div.channels {
  position: absolute;
  background-color: var(--dark-grey);
  z-index: 9;
  width: var(--side-size);
  box-shadow: 5px 0px 10px black;
  top: 2.5rem;
  border-top: 2px solid var(--grey);
}

div.channel {
  display: flex;
  align-items: center;
  justify-content: center;
  height: var(--side-size);
  border-bottom: 2px solid var(--grey);
}
