div.now-marker-top {
  border: 4px solid var(--accent);
  border-radius: 2px;
  height: 2.5rem;
  position: absolute;
  left: -5px;
}

div.now-marker {
  border-left: 2px solid var(--accent);
  height: 100%;
  position: absolute;
}
