div.programs-list {
  height: calc(var(--main-height) - var(--side-size));
  overflow-y: scroll;
  position: relative;
  overflow-x: hidden;
}

div.programs-of-the-day {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}

div.all-programs {
  padding-left: var(--side-size);
  overflow-x: scroll;
  position: absolute;
  top: 0;
  width: 100vw;
  overflow-y: clip;
  scroll-behavior: smooth;
}

button.jump-to-now {
  position: fixed;
  z-index: 11;
  right: 2rem;
  color: var(--white);
  bottom: calc(var(--footer-height) + 1.5rem);
}
