div.programs-list {
  height: calc(100vh - 8rem - 5rem);
  overflow-y: scroll;
  position: relative;
  overflow-x: hidden;
}

div.programs-of-the-day {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}

div.all-programs {
  padding-left: 5rem;
  overflow-x: scroll;
  position: absolute;
  top: 0;
  width: 100vw;
}
