div.top {
  height: var(--side-size);
  width: 100vw;
  overflow-x: scroll;
  border-bottom: 1px solid var(--grey);
  overflow-y: clip;
}

div.star-wrapper {
  display: inline-block;
  background: var(--dark-grey);
  position: absolute;
  width: var(--side-size);
  height: inherit;
  display: flex;
  align-content: center;
  justify-content: center;
  align-items: center;
  box-shadow: 5px 0px 10px black;
  border-bottom: 1px solid var(--grey);
}

div.calendar {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
  min-width: 60rem;
  padding-left: 6rem;
  padding-right: 2rem;
  height: inherit;
}

div.day {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

div.today {
  color: var(--white);
}
