div.program {
  height: var(--side-size);
  padding: .5rem;
  border-right: 2px solid var(--grey);
  border-bottom: 1px solid var(--grey);
  border-top: 1px solid var(--grey);
  background-color: var(--black2);
}

div.stripes {
  background: repeating-linear-gradient(
    45deg,
    var(--grey),
    var(--grey) 10px,
    var(--dark-grey) 10px,
    var(--dark-grey) 20px
  );
}

div.now {
  background-color: var(--grey2);
}

@media screen and (max-width: 60rem) {
  div.program {
    font-size: 0.9rem;
  }
}
