:root {
  --dark-grey: #202020;
  --white: #FFF;
  --black: #000;
  --black2: #111111;
  --grey: #494949;
  --grey2: #393939;
  --light-grey: #9b9b9b;
  --accent: #e1a21e;
  --error: red;
  --side-size: 4rem;
  --header-height: 3rem;
  --footer-height: var(--header-height);
  --main-height: calc(100vh - var(--header-height) - var(--footer-height));
}

@media screen and (min-width: 60rem) {
  :root {
    --side-size: 6rem;
    --header-height: 4rem;
  }
}

* {
  box-sizing: border-box;
}

html, body {
  background-color: var(--dark-grey);
  color: var(--white);
}

body {
  margin: 0;
}

.accent {
  color: var(--accent);
}

.grey {
  color: var(--grey);
}

.light-grey {
  color: var(--light-grey);
}

.fa-2x {
  cursor: pointer;
  font-size: calc(var(--header-height) / 2) !important;
}

.accent-button {
  color: var(--white);
  background-color: var(--accent);
  border: 0;
  box-shadow: none;
  outline: none;
  padding: .5rem 1rem;
  border-radius: 5px;
  cursor: pointer;
}
